<!--The content below is only a placeholder and can be replaced.-->
<div class="main-view" id="main-3d-container">
</div>

<div class="side-panel">
  <div>
    <label *ngFor="let camera of cameras">
        <input type="radio" [(ngModel)]="usedCameraModel" name="cameras" value="{{camera.id}}" (change)="onCameraChange(camera)"/> {{camera.name}}
    </label>
</div>

<div class="color-palette">
  <div class="color-box"
    *ngFor="let color of palette"
    [ngStyle]="{ 'background-color': color.color }"
    (mousedown)="pickColor(color)"
    [ngClass]="{ 'selected': pickedColor === color }">
  </div>
</div>
</div>

<router-outlet></router-outlet>
