@import "src/colors.scss";

.app-container {
  margin: 32px;
  margin-bottom: 12px;

  .logo-panel {
    user-select: none;

    img {
      height: 120px;;
    }

    .text {
      margin-left: 12px;
      display: inline-block;
      color: white;
      text-shadow: 1px 1px #6f6f6f;
    }
  }

  .main-view {
    display: inline-block;
    width: 1204px;
    height: 804px;
    border: 2px $p2-color-complement-4 solid;
  }

  .side-panel, .height-panel {
    display: inline-block;
    height: 804px;
    width: 240px;
    vertical-align: top;
    margin: 16px;
  }

  .side-panel {
    width: 320px;
    user-select: none;

    .controls-panel {
      display: inline-block;
      width: 240px;

      label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }

      .color-palette {
        .color-box {
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 1px transparent solid;
          transition: border 0.2s;

          &:hover {
            border: 1px #ccc solid;
          }

          &.selected {
            border: 1px white solid;
          }
        }
      }

      .brush-config {
        width: 120px;
        margin: 0 auto;

        .zone {
          cursor: pointer;
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: #fcffec;
          margin: 2px;

          &.enabled {
            background-color: $p2-color-secondary-2-4;
          }
        }
      }
    }
  }

  .height-panel {
    width: 48px;
    text-align: center;
    position: relative;
    margin-right: 0;

    > div {
      position: relative;
      left: -40px;
    }

    img {
      width: 36px;
      height: 36px;
      position: absolute;
      z-index: 20;
    }

    .level-label {
      top: 23px;
      left: 18px;
      width: 100%;
      position: absolute;
      color: white;
      text-shadow: 1px 1px #6f6f6f;
    }

    .distance-img {
      max-height: 700px;
      width: 36px;
      height: 1px;
      margin-top: 24px;
      position: absolute;
      display: inline-block;
      z-index: 20;
      background-image: url('/assets/distance.svg');
      background-repeat: repeat-y;
    }

    .box-img {
      margin-top: 12px;
      z-index: 30;
    }

    .ground-img {
      width: 48px;
      height: 48px;
      left: 19px;
      top: 24px;
    }
  }

  .bottom-actions {
    display: flex;
    justify-content: flex-end;
    width: 1204px;
    margin-top: -54px;
    overflow: hidden;
    height: 42px;
    align-items: flex-end;
    top: 22px;
    position: relative;
    user-select: none;

    .import-project {
      position: relative;

      span {
        position: absolute;
        pointer-events: none;
        left: 40px;
      }

      input {
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
      }
    }

    > div {
      display: inline-flex;
      margin-left: 4px;
      background-color: $color-complement-4;
      border: 2px solid white;
      border-radius: 6px;
      width: 160px;
      height: 64px;
      cursor: pointer;
      font-size: 16px;
      line-height: 74px;

      &:hover {
        background-color: $color-complement-1;
      }

      span {
        padding-left: 12px;
        color: #969696;
        font-weight: 600;
      }

      img {
        width: 48px;
        position: relative;
        top: 9px;
        left: 4px;
      }
    }
  }
}

.help-panel {
  margin: 32px;
  margin-top: 12px;
  user-select: none;

  .chunk {
    display: inline-block;
    margin: 12px;
  }

  .key {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    color: #a9a9a9;
    text-shadow: 1px 1px #6f6f6f;
    margin: 2px;
    line-height: 1.8em;
    font-size: 20px;

    &.wide {
      width: 144px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
    }
  }

  .mouse {
    position: relative;
    top: 24px;
    width: 200px;
  }

  .line-w {
    padding-left: 40px;
  }
  .line-q {
    margin-left: -20px;
  }
  .line-z {
    padding-left: 20px;
  }
}

.orbit-controls {
  position: absolute;
  width: 24px;
  opacity: 0;

  &.visible {
    opacity: 0.5;
  }
}
