$green-bright: #9fdc9b;
$green-fresh: #63df92;
$green-dark: #454f1d;


// Palette URL: http://paletton.com/#uid=52i0b0kADk3uemFwllqFyizK2gU */
$color-primary-0: #6B9700;	// Main Primary color */
$color-primary-1: #7CAA09;
$color-primary-2: #72A100;
$color-primary-3: #638B00;
$color-primary-4: #5A7F00;

$color-secondary-1-0: #559200;	// Main Secondary color (1) */
$color-secondary-1-1: #64A509;
$color-secondary-1-2: #5A9C00;
$color-secondary-1-3: #4E8700;
$color-secondary-1-4: #477B00;

$color-secondary-2-0: #809A00;	// Main Secondary color (2) */
$color-secondary-2-1: #92AE0A;
$color-secondary-2-2: #88A500;
$color-secondary-2-3: #768F00;
$color-secondary-2-4: #6C8200;

// Palette URL: http://paletton.com/#uid=45z0G0ka8VlaLZ2aFXq90SV6WQp */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FDADB6;	// Main Primary color */
$color-primary-1: #FEA9B3;
$color-primary-2: #FEA9B3;
$color-primary-3: #FCB5BE;
$color-primary-4: #FCC5CB;

$color-secondary-1-0: #A6DAEE;	// Main Secondary color (1) */
$color-secondary-1-0-lightest: lighten(#A6DAEE, 10%);	// Main Secondary color (1) */
$color-secondary-1-1: #A9E3F9;
$color-secondary-1-2: #A6DFF4;
$color-secondary-1-3: #A9D6E7;
$color-secondary-1-4: #B1D3E0;

$color-secondary-2-0: #F3FEAD;	// Main Secondary color (2) */
$color-secondary-2-1: #F3FFA9;
$color-secondary-2-2: #F2FEA9;
$color-secondary-2-3: #F3FDB6;
$color-secondary-2-4: #F5FDC6;

$color-complement-0: #BAF8A9;	// Main Complement color */
$color-complement-0-darkest: darken(#BAF8A9, 40%);	// Main Complement color */
$color-complement-1: #B9FDA8;
$color-complement-2: #B8FAA7;
$color-complement-3: #BEF5B0;
$color-complement-4: #C8F2BD;

$color-secondary-3-0: #FFD8AE;	// Main Secondary color (1) */
$color-secondary-3-1: #FFD6A9;
$color-secondary-3-2: #FFD6AA;
$color-secondary-3-3: #FFDDB7;
$color-secondary-3-4: #FFE5C8;

// Palette URL: http://paletton.com/#uid=70k0l0kayw0fnDadyzJb4rcaOnT */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$p2-color-primary-0: #FFC8AB;	// Main Primary color */
$p2-color-primary-1: #FFAF85;
$p2-color-primary-2: #FFB993;
$p2-color-primary-3: #D9A88E;
$p2-color-primary-4: #BE947E;

$p2-color-secondary-1-0: #FFD9AB;	// Main Secondary color (1) */
$p2-color-secondary-1-1: #FFC785;
$p2-color-secondary-1-2: #FFCE93;
$p2-color-secondary-1-3: #D9B68E;
$p2-color-secondary-1-4: #BEA17E;

$p2-color-secondary-2-0: #6F90A2;	// Main Secondary color (2) */
$p2-color-secondary-2-1: #659CBA;
$p2-color-secondary-2-2: #6895AD;
$p2-color-secondary-2-3: #5D7A8A;
$p2-color-secondary-2-4: #526B79;

$p2-color-complement-0: #71A898;	// Main Complement color */
$p2-color-complement-1: #63BFA3;
$p2-color-complement-lightest: lighten(#63BFA3, 30%);
$p2-color-complement-2: #67B29C;
$p2-color-complement-3: #5E8F80;
$p2-color-complement-4: #537E71;